
.button-rounded-signup{
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    background-color: #eb331e;
    color:white;
}

.navbar-header-ul{
padding-left: 0px;
}

.button-rounded-login{
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    margin-right: 30px;
}

.cart-icon{
    
    font-size: 25px;
    padding-right: 30px;
}

.header-login-signup{
    display: flex;
    }



  @media only screen and (max-width: 800px) {
    .header-login-signup{
    text-align: center;
    margin-left: 25%;
    
    }
    
      }

      @media only screen and (max-width: 500px) {
        .header-login-signup{
        text-align: center;
        margin-left: 0%;
        
        }

        .button-rounded-signup{
            border-radius: 20px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-right: 5px;
            background-color: #eb331e;
            color:white;
            font-size: 25px;
        }

        .button-rounded-login{
            border-radius: 20px;
            padding-left: 25px;
            padding-right: 25px;
            background-color: white;
            margin-right: 20px;
            font-size: 25px;
        }
        
        
        }