.custom-S{
    width: 60px; 
    background-color:
     #7c4dff;
     height: 2px;
}
.custom-St{
    background-color: rgba(0, 0, 0, 0.2);
}
.custom-sts{
    background-color: #1c2331;
}
.custom-stst{
    background-color: #6351ce
}